<%- include('./partials/head') %>

<main>
  <section class="card-container">
    <div class="logo-title-container">
      <img class="logo" src="<%= member.avatar %>" alt="gitsearch logo">
      <div class="title">
        <h1>Gitsearch</h1>
        <span>Made by <%= member.gitHubHandle %></span>
      </div>
    </div>
    <form>
      <!-- <label for="name">First name: -->
        <input type="text" name="name" placeholder="Who you looking for?">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
          <path d="M21 21l-6 -6"></path>
       </svg>
      <!-- </label> -->
    </form>

    <!-- filter container -->
    <section class="filter-container">
      <span>Sort results by</span>
      <a href="">Name</a>
      <a href="">Github</a>
    </section>

    <!-- student container for searched students -->
    <section class="student-container">
      <img class="student-image" src="<%= member.avatar %>" alt="student">
      <div class="student-info">
        <h2 class="student-name">Tolga Doganer</h2>
        <div class="student-website-links">
          <a href="<%= member.website %>"><%= member.gitHubHandle %></a>
          <a href="<%= member.website %>">Squad A</a>
        </div>
      </div>
    </section>

    <section class="student-container">
      <img class="student-image" src="<%= member.avatar %>" alt="student">
      <div class="student-info">
        <h2 class="student-name">Tolga Doganer</h2>
        <div class="student-website-links">
          <a href="<%= member.website %>"><%= member.gitHubHandle %></a>
          <a href="<%= member.website %>">Squad A</a>
        </div>
      </div>
    </section>

    <section class="student-container">
      <img class="student-image" src="<%= member.avatar %>" alt="student">
      <div class="student-info">
        <h2 class="student-name">Tolga Doganer</h2>
        <div class="student-website-links">
          <a href="<%= member.website %>"><%= member.gitHubHandle %></a>
          <a href="<%= member.website %>">Squad A</a>
        </div>
      </div>
    </section>

    <section class="student-container">
      <img class="student-image" src="<%= member.avatar %>" alt="student">
      <div class="student-info">
        <h2 class="student-name">Tolga Doganer</h2>
        <div class="student-website-links">
          <a href="<%= member.website %>"><%= member.gitHubHandle %></a>
          <a href="<%= member.website %>">Squad A</a>
        </div>
      </div>
    </section>

  </section>
</main>

<%- include('./partials/foot') %>