<%- include('./partials/head') %>

<main>
  <section class="card-container">
    <header>
      <div class="logo-title-container">
        <img class="logo"
          src="https://avatars.githubusercontent.com/u/112855878?s=400&u=8ca587fdd4abb296b053220bae9b6585a9cb6d57&v=4"
          alt="gitsearch logo">
        <div class="title">
          <h1>Gitsearch</h1>
          <span><a></a>Made by Tolga1999</span>
        </div>
      </div>
      <form>
        <input type="text" name="name" placeholder="Who are you looking for?">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
          <path d="M21 21l-6 -6"></path>
        </svg>
        <svg class="desktop-svg" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
          <path d="M21 21l-6 -6"></path>
       </svg>
      </form>

      <!-- filter container -->
      <section class="filter-container">
        <span>Sort results by</span>
        <a href="">Name</a>
        <a href="">Github</a>
      </section>
    </header>

    <!-- student container for searched students -->
    <div class="desktop-student-containers">
      <% const members = squad.members %>

      <% for (let member = 0; member < members.length; member++){ %>
      <section class="student-container">
        <% if (members[member].avatar) { %>
        <img class="student-image" src="<%= members[member].avatar %>" alt="student">
        <% }else{ %>
        <img class="placeholder-image" src="./assets/112855878.png" alt="Placeholder avatar" />
        <% } %>
        <div class="student-info">
          <!-- staat standaard uit -->
          <span class="only-name"><%= members[member].name %></span>
          <h2 class="student-name"><%= members[member].name %> <%= members[member].surname %></h2>
          <div class="student-website-links">
            <a href="https://github.com/<%= members[member].gitHubHandle %>"><%= members[member].gitHubHandle %></a>
            <a href="<%= members[member].website %>"><%= squad.name %></a>
          </div>
        </div>
      </section>
      <% } %>
    </div>

  </section>
</main>

<%- include('./partials/foot') %>